<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
    </head>
    <body>
        <header>
        <h1>Lena's Adventskalender 🎄</h1>
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer><p>Mit Liebe gemacht ❤️</p></footer>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const today = new Date().getDate();
                const dayElement = document.getElementById("day-content");
                // const lockedElement = document.getElementById("locked-message");

                if (!dayElement) return;

                console.log(`Heute: ${today}| Dieses Türchen: `, dayElement.dataset.day);
                const thisDay = parseInt(dayElement.dataset.day);

                //console.log(`Heute: ${today}| Dieses Türchen: ${thisDay} `, dayElement);

                if (thisDay <= today) {
                    // Türchen darf sichtbar sein
                    dayElement.style.display = "block";
                    lockedElement.style.display = "none";
                } else {
                    // Türchen ist gesperrt
                    dayElement.style.display = "none";
                    lockedElement.style.display = "block";
                }
            });


            document.addEventListener("DOMContentLoaded", () => {
                const today = new Date().getDate();

                document.querySelectorAll(".day-box").forEach(box => {
                    const day = parseInt(box.dataset.day);

                    if (day === today) {
                        box.classList.add("today");
                        console.log(`Heute: ${today}| Dieses Türchen: `, box);
                    } else if (day < today) {
                        box.classList.add("past");
                    } else {
                        box.classList.add("future");
                    }
                });
            });

        </script>


    </body>
</html>
