{{ define "main" }}
{{ $now := (now.Local) }}
{{ $today := $now.Day }}

<h2>Alle Tage</h2>
<div class="days-grid">
{{ range .Pages.ByParam "day" }}
  <div class="day-box {{ if eq .Params.day now.Day }}today{{ else if lt .Params.day now.Day }}past{{ end }}">
    <a href="{{ .RelPermalink }}">
      <span>Tag {{ .Params.day }}</span>
    </a>
    {{ if le .Params.day now.Day }}
      <div class="preview">{{ .Params.preview }}</div>
    {{ end }}
  </div>
{{ end }}
</div>

<div id="day-content" data-day="{{ .Params.day }}">
    {{ .Content }}
</div>

<div id="locked-message" data-day="{{ .Params.day }}" style="display:none;">
    <p></p>
</div>
{{ end }}
